body
{
  box-sizing: border-box;
  background-color: black;
}

.red
{
  width: 100px;
  height: 100px;
  background-color: red;
}

.green
{
  width: 80px;
  height: 80px;
  background-color: green;
}

.blue
{
  width: 60px;
  height: 60px;
  background-color: blue;
}

.yellow
{
  width: 40px;
  height: 40px;
  background-color: yellow;
}

.exercise-1,
.exercise-2,
.exercise-3,
.exercise-4
{
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: left;

}

.exercise-1 div,
.exercise-2 div,
.exercise-3 div,
.exercise-4 div
{
  margin: 0px;

}

/* Exercise 2 */

.exercise-2
{
  position: relative;
}

.exercise-2 .green,
.exercise-2 .blue,
.exercise-2 .yellow
{
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Exercise 3 */

.exercise-3
{
  position: relative;
}

.exercise-3 .green
{
  position: absolute;
  top: 20px;
  left: 20px;
}

.exercise-3 .blue
{
  position: absolute;
  top: 20px;
  left: 20px; 
  align-items: center;
}
.exercise-3 .yellow
{
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Exercise 4 */

.exercise-4
{
  position: relative;
  height: 300px;
}

.exercise-4 .blue
{
  position:absolute;
  bottom: 60px;
  right: 0;
  justify-content: flex-end;
}

.exercise-4 .yellow
{
  position: absolute;
  bottom: 0;
  right: 0;
}
